@import 'nib'
*
  box-sizing: border-box

html, body
  height: 100%
  padding: 0
  margin: 0
  overflow: hidden

html.mousewheel
  overflow: scroll
  body
    overflow: scroll
  #viewport
    left: -1px
    right: -1px

html.mousewheel.touch
  overflow: hidden
  body
    overflow: hidden

body
  background: url('/images/background.png') 0 0
  font-family: Helvetica-Neue, Arial
  font-size: 14px

::-webkit-scrollbar
  display: none

::-webkit-scrollbar-track
  display: none

::-webkit-scrollbar-thumb
  display: none

header
  padding: 20px
  position: fixed
  top: 0
  width: 100%
  z-index: 100
  background: rgba(0,0,0,0.1)
  box-shadow: 0 1px 3px rgba(0,0,0,0.3)
  .accounts-dialog
    font-size: 15px
  h1, h2
    a
      color: #fff
      text-decoration: none
  h1
    margin: 0
    padding: 0
    font-size: 16px
    line-height: 16px
    float: left
    color: #fff
    opacity: 0.6

  h2
    margin: 0 0 0 10px
    font-size: 10px
    float: left
    line-height: 24px
    margin-top: -2px
    color: #fff
    opacity: 0.6
    .prototype
      opacity: 0.6
      text-indent: -9999px
      display: inline-block
      background: url('/images/prototype_logo_tiny.png') no-repeat
      width: 35px
      height: 24px
      margin-top: -2px
  .add-post
    position: absolute
    top: 22px
    left: 50%
    margin-left: -9px
    text-decoration: none
    text-align: center
    font-size: 18px
    transition: all .2s
    width: 18px
    color: #fff
    opacity: 0.6
    &.cancel-add-post
      tranform: rotate(-45deg)
    &:hover
      font-size: 22px
      top: 19px

nav.board-menu
  float: left
  margin-top: 3px
  font-size: 12px
  opacity: 0.6
  color: #fff
  ul, li
    margin: 0
    padding: 0
    display: inline-block
    a
      display: block
      text-decoration: none
      padding-left: 20px
      color: #fff
      whitespace: no-wrap
      i
        margin-left: -10px
        float: left

p
  margin-top: 0

#viewport
  bottom: 0
  left: 0
  position: absolute
  right: 0
  top: 0

#center
  height: 1px
  left: 50%
  position: absolute
  top: 50%
  width: 1px
  transform: translate3d(0,0,0)

post-bg-color = #efefef
post-bg-color = #f9ee70

.post
  background: post-bg-color url('/images/paper.png') center center
  border-radius: 3px
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3)
  display: inline-block
  max-height: 240px
  opacity: 0
  max-width: 240px
  min-height: 60px
  min-width: 240px
  min-width: 240px
  padding: 10px 10px 20px 10px
  position: absolute
  transform: translate3d(0,0,0)
  width: auto
  &.youtube
    cite, .post-permalink, .delete-link, textarea, .post-body
      color: #eee
    object, embed
      max-width: 220px
    background: -moz-linear-gradient(-45deg,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%)
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313))
    background: -webkit-linear-gradient(-45deg,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%)
    background: -o-linear-gradient(-45deg,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%)
    background: -ms-linear-gradient(-45deg,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%)
  &.image
    background: #fff url('/images/paper.png') center center
    max-height: none
    padding-bottom: 40px
    img
      width: 100%
  &.dragging
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3)
    &.transition
      transition: none
  &.selected
    box-shadow: 0px 3px 14px rgba(0,0,0,0.4)
    z-index: 100
  &:hover
    cursor: move
    &.selected:hover .post-body
      cursor: default
    .delete-link, .post-permalink, .byline
      display: block
      opacity: 1
  .post-body
    max-height: 210px
    overflow-y: auto
  .post-permalink, .delete-link, .byline
    transition: all 0.3s ease-in
  .post-permalink
    opacity: 0
    position: absolute
    text-decoration: none
    color: #000
    left: -3px
    bottom: -3px
    &:hover
      cursor: pointer
  .delete-link
    opacity: 0
    position: absolute
    right: -3px
    top: -3px
    &:hover
      cursor: pointer
  .byline
    bottom: -10px
    position: absolute
    right: -10px
    opacity: 0
    cite
      display: inline-block
      float: left
      font-size: 10px
      height: 30px
      line-height: 25px
      margin-right: 10px
      padding-bottom: 20px
    img
      border-radius: 3px
      box-shadow: 0 2px 2px rgba(0,0,0,0.3)
      float: right
      vertical-align: center
      width: 30px

.overlay
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  opacity: 0
  background: rgba(0,0,0,0.5)
  &#new-post-overlay:hover
    cursor: move
.new-post
  top: 50%
  left: 50%
  margin-top: -65px
  margin-left: -120px
  opacity: 1
  &:hover
    cursor: default
  &.image
    padding-bottom: 20px
  textarea
    background: none
    border-color: rgba(0,0,0,0.1)
    width: 220px

.transition
  transition: all .3s ease-in-out

.askew:nth-child(2n+1)
  transform: rotate(-1deg)

.askew:nth-child(3n+2)
  transform: rotate(2deg)

.askew:nth-child(5n+3)
  transform: rotate(-3deg)

.askew:nth-child(7n+5)
  transform: rotate(1deg)

.askew:nth-child(11n+7)
  transform: rotate(3deg)

