@import 'nib'
@import '/stylesheets/font-awesome.css'
*
  box-sizing: border-box

html, body
  height: 100%

body
  background: url('/images/background.png') center center
  font-family: Helvetica-Neue, Arial
  font-size: 14px

p
  margin-top: 0

post-bg-color = #efefef
post-bg-color = #f9ee70
.post
  padding: 10px 10px 20px 10px
  background: post-bg-color url('/images/paper.png') center center
  display: inline-block
  border-radius: 3px
  position: absolute
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3)
  min-width: 240px
  min-height: 60px
  width: auto
  min-width: 240px
  max-width: 240px
  max-height: 240px
  &.youtube
    cite, .delete-link, textarea
      color: #eee
    object, embed
      max-width: 220px
    background: -moz-linear-gradient(-45deg,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%)
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313))
    background: -webkit-linear-gradient(-45deg,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%)
    background: -o-linear-gradient(-45deg,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%)
    background: -ms-linear-gradient(-45deg,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%)

  &.dragging
    box-shadow: 0px 3px 7px rgba(0,0,0,0.3)
  &.image
    background: #fff url('/images/paper.png') center center
    padding-bottom: 40px
    max-height: none
    img
      width: 100%
  .post-body
    max-height: 210px
    overflow-y: auto
    &:hover
      cursor: default
  .delete-link
    display: none
    position: absolute
    top: -3px
    right: -3px
    &:hover
      cursor: pointer
  &:hover
    cursor: move
    .delete-link
      display: block
  .byline
    position: absolute
    bottom: -10px
    right: -10px
    cite
      padding-bottom: 20px
      line-height: 25px
      display: inline-block
      float: left
      margin-right: 10px
      height: 30px
      font-size: 10px
    img
      width: 30px
      float: right
      border-radius: 3px
      vertical-align: center
      box-shadow: 0 2px 2px rgba(0,0,0,0.3)

.askew:nth-child(2n+1)
  transform: rotate(-2deg)

.askew:nth-child(3n+2)
  transform: rotate(1deg)

.askew:nth-child(5n+3)
  transform: rotate(-3deg)

.askew:nth-child(7n+5)
  transform: rotate(6deg)

.askew:nth-child(11n+7)
  transform: rotate(4deg)

.new-post
  bottom: 10px
  left: 10px
  &.image
    padding-bottom: 20px
  textarea
    background: none
    border-color: rgba(0,0,0,0.1)
    width: 220px


