@import 'nib'
*
  box-sizing: border-box

html, body
  height: 100%
  padding: 0
  margin: 0
  overflow: hidden

body
  background: url('/images/background.png') 0 0
  font-family: Helvetica-Neue, Arial
  font-size: 14px

header
  padding: 20px
  position: absolute
  top: 0
  width: 100%
  z-index: 100
  background: rgba(0,0,0,0.1)
  box-shadow: 0 1px 3px rgba(0,0,0,0.3)
  .accounts-dialog
    font-size: 15px
  h1, h2
    a
      color: #fff
      text-decoration: none
  h1
    margin: 0
    padding: 0
    font-size: 16px
    line-height: 16px
    float: left
    color: #fff
    opacity: 0.6

  h2
    margin: 0 0 0 10px
    font-size: 10px
    float: left
    line-height: 24px
    margin-top: -2px
    color: #fff
    opacity: 0.6
    .prototype
      opacity: 0.6
      text-indent: -9999px
      display: inline-block
      background: url('/images/prototype_logo_tiny.png') no-repeat
      width: 35px
      height: 24px
      margin-top: -2px

nav.board-menu
  float: left
  margin-top: 3px
  font-size: 12px
  opacity: 0.6
  color: #fff
  ul, li
    margin: 0
    padding: 0
    display: inline-block
    a
      display: inline-block
      text-decoration: none
      color: #fff
  li
    margin-left: 40px

p
  margin-top: 0

#viewport
  bottom: 0
  left: 0
  position: absolute
  right: 0
  top: 0

#center
  height: 1px
  left: 50%
  position: absolute
  top: 50%
  width: 1px

post-bg-color = #efefef
post-bg-color = #f9ee70

.post
  background: post-bg-color url('/images/paper.png') center center
  border-radius: 3px
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3)
  display: inline-block
  max-height: 240px
  max-width: 240px
  min-height: 60px
  min-width: 240px
  min-width: 240px
  padding: 10px 10px 20px 10px
  position: absolute
  width: auto
  &.youtube
    cite, .delete-link, textarea
      color: #eee
    object, embed
      max-width: 220px
    background: -moz-linear-gradient(-45deg,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%)
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313))
    background: -webkit-linear-gradient(-45deg,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%)
    background: -o-linear-gradient(-45deg,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%)
    background: -ms-linear-gradient(-45deg,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%)

  &.dragging
    box-shadow: 0px 3px 7px rgba(0,0,0,0.3)
  &.image
    background: #fff url('/images/paper.png') center center
    max-height: none
    padding-bottom: 40px
    img
      width: 100%
  .post-body
    max-height: 210px
    overflow-y: auto
    &:hover
      cursor: default
  .delete-link
    display: none
    position: absolute
    right: -3px
    top: -3px
    &:hover
      cursor: pointer
  &:hover
    cursor: move
    .delete-link, .byline
      display: block
  .byline
    bottom: -10px
    position: absolute
    right: -10px
    display: none
    cite
      display: inline-block
      float: left
      font-size: 10px
      height: 30px
      line-height: 25px
      margin-right: 10px
      padding-bottom: 20px
    img
      border-radius: 3px
      box-shadow: 0 2px 2px rgba(0,0,0,0.3)
      float: right
      vertical-align: center
      width: 30px

.new-post
  bottom: 10px
  left: 10px
  &.image
    padding-bottom: 20px
  textarea
    background: none
    border-color: rgba(0,0,0,0.1)
    width: 220px

.transition
  transition: all .3s ease-in-out

.askew:nth-child(2n+1)
  transform: rotate(-1deg)

.askew:nth-child(3n+2)
  transform: rotate(2deg)

.askew:nth-child(5n+3)
  transform: rotate(-3deg)

.askew:nth-child(7n+5)
  transform: rotate(4deg)

.askew:nth-child(11n+7)
  transform: rotate(5deg)

