<template name="board">
  {{> viewport}}
  {{> header }}
</template>

<template name="viewport">
  <div id="viewport">
    {{>center}}
    {{> new_post }}
    {{> settings }}
  </div>
</template>

<template name="center">
  <div id="center">
    {{> posts }}
  </div>
</template>

<template name="settings">
  {{#if currentUserLoaded}}
    {{#if showSettingsOverlay}}
      <div class="overlay transition" id="settings-overlay">
        <div class="settings dialog">
          <form id="settings">
            <fieldset>
              <legend>Settings</legend>
              <label>Username</label>
              <input name="username" id="username" value="{{username}}">
            </fieldset>
            <button type="submit">Update</button>
        </div>
      </div>
    {{/if}}
  {{/if}}
</template>
