<template name="home">
  <div id="viewport">
    <div id="center">
      {{> posts }}
    </div>
    {{> new_post }}
  </div>
  <header>
    <div class="span2" style="float: right">
      {{loginButtons align="right"}}
    </div>
    <h1><a href="/">Cork</a></h1>
    <h2>A <span class="prototype">Prototype</span> App</h2>
    <nav class="board-menu">
      {{#if anyBoards}}
        <ul>
          {{#each boards}}
            <li><a href="/boards/{{slug}}"><i class="icon-check{{boardSelectedClass}}"/>{{name}}</a></li>
          {{/each}}
        </ul>
      {{/if}}
    </nav>
    {{#if loggedIn}}
      <a href="#" class="add-post"><i class="icon-plus-sign"/></a>
    {{/if}}
  </header>
</template>

<template name="new_post">
  {{#if showNewPostOverlay}}
    <div class="overlay transition" id="new-post-overlay">
      <div class="post new-post">
        <a class="delete-link icon-remove-sign"></a>
        <div class="control-group">
          <div class="controls">
            <textarea id="new-post" rows="5"></textarea>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button class="btn" id="create-new-post">Post!</button>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
</template>

