<template name="home">
  <div class="container">
    <div class="header row">
      <div class="span2" style="float: right">
        {{loginButtons align="right"}}
      </div>
    </div>

    <div class="row">
      {{> posts }}
    </div>
    {{#if loggedIn}}
      {{#unless isObserver}}
        <div class="post new-post">
          <div class="control-group">
            <div class="controls">
              <textarea id="new-post" rows="5"></textarea>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button class="btn" id="create-new-post">Post!</button>
            </div>
          </div>
        </div>
      {{/unless}}
    {{/if}}
  </div>
</template>
