<template name="posts">
  <div id="posts">
    {{#each posts}}
      {{> post_detail}}
    {{/each}}
  </div>
</template>

<template name="post_detail">
  {{#constant}}
    <div id="post-{{_id}}" class="post askew {{type}}" style="left: {{left}}px; top: {{top}}px;">
      {{#if canDelete}}
        <a class="delete-link icon-remove-sign"></a>
      {{/if}}
      {{#if isImage}}
        <div class="post-image">
          <a href="{{body}}"><img src="{{body}}"></a>
        </div>
      {{else}}
        {{#if isYoutube}}
          <div class="post-youtube">
              <object width="240" height="240" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
                <param name="movie" value="http://www.youtube.com/v/{{videoId}}&rel=0&hl=en&fs=1&"></param>
                <param name="allowFullScreen" value="true"></param>
                <param name="allowscriptaccess" value="always"></param>
                <embed src="http://www.youtube.com/v/{{videoId}}&rel=0&hl=en&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="{{width}}" height="{{height}}"></embed>
              </object>
          </div>
        {{else}}
          <div class="post-body">
{{#markdown}}
{{{body}}}
{{/markdown}}
          </div>
        {{/if}}
      {{/if}}
      <div class="byline">
        <cite>
          {{author}}
        </cite>
        <img class="avatar" src="{{avatar}}">
      </div>
    </div>
  {{/constant}}
</template>
