<template name="questions">
  {{#each questions}}
    {{> question_detail}}
  {{else}}
    No Questions Yet
  {{/each}}
</template>

<template name="question">
  <a href="#" id="{{_id}}">{{question}}</a>
</template>

<template name="question_detail">
<div class="post askew {{type}}" style="left: {{left}}px; top: {{top}}px;">
    {{#if isOwner}}
      <a class="delete-link icon-remove-sign"></a>
    {{/if}}
    {{#if isImage}}
    <div class="post-image">
      <img src="{{question}}">
    </div>
    {{else}}
    <div class="post-body">
{{#markdown}}
{{{question}}}
{{/markdown}}
    </div>
    {{/if}}
    <div class="byline">
      <cite>
        {{author}}
      </cite>
      <img class="avatar" src="{{avatar}}">
    </div>
  </div>
</template>
